# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Artifacts & Temporary outputs
*.png
*.pdf
*.json
!references/*.json

# Virtual Environments
.venv/
venv/
.env

# OS files
.DS_Store
Thumbs.db
